.prize {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.prize__container {
  width: 400px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  margin: 30px 0 0 0;
}

.container__area {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.begin__btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: aliceblue;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 20px);
}

.area__row {
  width: 100%;
  height: 100px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row__item {
  width: 90px;
  height: 90px;
  border-radius: 4px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row__item-active {
  background-color: aquamarine;
}